/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap'); */

body {
   font-family: Arial, "Lato", sans-serif;
   color: #1E212C;
   line-height: 1.3;
   font-size: 16px;
}

:root {
   --box-sh: 10px 5px 25px #000;
}

[class*=__container] {
   width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
   height: 700px;
}

#box:target * {
   opacity: 0;

}

#box:target {
   background-color: transparent;
   background: url('../img/end-bg.avif') 0 0 no-repeat;
}

.wrapper {
   padding: 50px 0;
}

.game__body {
   height: 700px;
   background-color: #af8973f5;
   border: 10px double #383838;
}

.box-game {
   height: 100%;
   padding-top: 70px;
   font-size: 0;
   padding-right: 20px;
   padding-left: 20px;
}

/*! === */
.box-game__line-1 {
   font-size: 0;
   background: url('../img/sity.webp') 0 0 / auto 100% repeat;
   opacity: 0;
   visibility: hidden;
   box-shadow: var(--box-sh);
   height: 80px;
   width: 100%;
   text-align: right;
}

.box-game__line-1::after {
   content: '';
   display: inline-block;
   width: 58px;
   height: 80px;
   margin-top: -80px;
   pointer-events: none;
   background: url('../img/dor2.png') -12px 0 / auto 100% no-repeat, url('../img/tonell.jpeg') 0 0 / auto 100% no-repeat;
}

.box-game__line-1 .box-game__line-items {
   overflow: hidden;
   height: 80px;
   text-align-last: left;
   padding-right: 60px;
}

.box-game__line-1:hover {
   opacity: 1;
   visibility: visible;
}


.box-game__line-start {
   display: inline-block;
   width: 53px;
   height: 80px;
   margin-bottom: -80px;
   box-shadow: 0 0 15px #000;
   background: url('../img/dor2.png') -15px 0 / auto 100% no-repeat, url('../img/tonell.jpeg') 0 0 / auto 100% no-repeat;
}

.box-game__line-start:hover~.box-game__line-1 {
   opacity: 1;
   visibility: visible;
}

.box-game__line-1 .box-game__line-item {
   display: inline-block;
   width: 40px;
   height: 80px;
   opacity: 0;
   padding-top: 2px;
}


.box-game__line-item:not(:last-child) {
   margin-right: -10px;
}

.box-game__line-item:hover {
   opacity: 1;
}

.box-game__line-item img {
   width: 100%;
}

.box-game__line-item::after {
   margin-top: 0px;
   content: '';
   display: inline-block;
   width: 40px;
   height: 80px;
   pointer-events: none;
}

.game-line-item-1::after {
   background: url('../img/1.png') 50% / 100% no-repeat;
}

.game-line-item-2::after {
   background: url('../img/2.png') 50% / 100% no-repeat;
}

.game-line-item-3::after {
   background: url('../img/3.png') 50% / 100% no-repeat;
}

/*! === */
.box-game__line-conect-1 {
   width: 58px;
   height: 80px;
   margin: 0 0 0 auto;
   padding-top: 80px;
   margin-top: -80px;
}

.box-game__line-2 {
   width: 58px;
   height: 180px;
   opacity: 0;
   visibility: hidden;
   box-shadow: var(--box-sh);
   background: url('../img/tonell2.jpeg') 0 0 / 100% auto repeat;
}

.box-game__line-conect-1:hover .box-game__line-2 {
   opacity: 1;
   visibility: visible;
}

.box-game__line-2 .box-game__line-item {
   width: 58px;
   height: 60px;
   margin: 0;
   padding: 0 7px;
}

.box-game__line-2 .box-game__line-item:after {
   width: 38px;
   height: 68px;
}

.box-game__line-2 .box-game__line-item:not(:first-child) {
   margin-top: -20px;
}

.box-game__line-2 .box-game__line-items {
   text-align: center;
   width: 58px;
   height: 180px;
   overflow: hidden;
   padding: 0;
}

.box-game__line-2 .game-line-item-1::after {
   background: url('../img/11.png') 50% / 100% no-repeat;
}

.box-game__line-2 .game-line-item-2::after {
   background: url('../img/22.png') 50% / 100% no-repeat;
}

.box-game__line-2 .game-line-item-3::after {
   background: url('../img/33.png') 50% / 100% no-repeat;
}

/* !===== */

.box-game__line-conect-2 {
   width: 58px;
   height: 80px;
   box-shadow: var(--box-sh);
   background: url('../img/dor2.png') -12px 0 / auto 100% no-repeat, url('../img/tonell.jpeg') 0 0 / auto 100% no-repeat;
}

.box-game__line-conect-2:hover .box-game__line-3 {
   opacity: 1;
   visibility: visible;
}

.box-game__line-3 {
   box-shadow: var(--box-sh);
   background: url('../img/123.jpg') 0 0 / auto 100% repeat;
   height: 80px;
   width: 500px;
   margin-left: -500px;
   opacity: 0;
   visibility: hidden;
}

.box-game__line-3 .box-game__line-items {
   height: 80px;
   width: 500px;
   overflow: hidden;
}

.box-game__line-3 .box-game__line-item {
   height: 80px;
   width: 45px;
}

.box-game__line-3 .box-game__line-item:not(:last-child) {
   margin: 0 -20px 0 0;
}

.box-game__line-3 .box-game__line-item::after {
   height: 65px;
   width: 35px;
}

.box-game__line-3 .game-line-item-1::after {
   background: url('../img/11.png') 50% / 100% no-repeat;
}

.box-game__line-3 .game-line-item-2::after {
   background: url('../img/22.png') 50% / 100% no-repeat;
}

.box-game__line-3 .game-line-item-3::after {
   background: url('../img/33.png') 50% / 100% no-repeat;
}


/* !=== */

.box-game__line-conect-3 {
   width: 80px;
   height: 80px;
   margin-left: -80px;
   box-shadow: var(--box-sh);
   background: url('../img/up2.png') 0 0/ auto 100% no-repeat;
}

.box-game__line-4 {
   width: 300px;
   height: 50px;
   margin-top: -80px;
   margin-left: -300px;
   opacity: 0;
   visibility: hidden;
}

.box-game__line-conect-3:hover .box-game__line-4 {
   opacity: 1;
   visibility: visible;
}

.box-game__line-4 .box-game__line-items {
   width: 300px;
   height: 50px;
   background: url('../img/pipe3.png') 0 0/ 100% no-repeat;
}

/* !=== */

.box-game__line-conect-4 {
   width: 50px;
   height: 50px;
   margin-top: -45px;
}

.box-game__line-conect-4 .box-game__line-5 {
   width: 50px;
   height: 50px;
   margin-left: -50px;
   opacity: 0;
   visibility: hidden;
}

.box-game__line-conect-4:hover .box-game__line-5 {
   opacity: 1;
   visibility: visible;
}

.box-game__line-5 .box-game__line-item-pipe {
   width: 50px;
   height: 45px;
   background: url('../img/pipe11.png') 0 0/ 100% no-repeat;
}

/*! === */

.box-game__line-conect-5 {
   width: 40px;
   height: 50px;
   margin-left: 4px;
}

.box-game__line-6 .box-game__line-item-pipe {
   width: 25px;
   height: 150px;
   background: url('../img/pipe33.png') 0 0/ 100% 100% no-repeat;
}

/* !=== */
.box-game__line-conect-6 {
   width: 35px;
   height: 35px;
   margin-top: -35px;
}

.box-game__line-conect-6:hover .box-game__line-7 {
   opacity: 1;
   visibility: visible;
}

.box-game__line-7 {
   opacity: 0;
   visibility: hidden;
}

.box-game__line-7 .box-game__line-item-pipe {
   width: 35px;
   height: 35px;
   margin-top: 35px;
   margin-left: 1px;
   background: url('../img/pipe111.png') 0 0/ 100% no-repeat;
}

/* !=== */
.box-game__line-conect-7 {
   margin-top: -62px;
   margin-left: 30px;
   height: 25px;
   width: 180px;
}

.box-game__line-conect-7 .box-game__line-8 {
   height: 25px;
   width: 180px;
}

.box-game__line-8 .box-game__line-item-pipe {
   height: 25px;
   width: 180px;
   background: url('../img/pipe3.png') 0 0/ 100% 100% no-repeat;
}

/*! === */

.box-game__line-conect-8 {
   width: 80px;
   height: 80px;
   margin-top: -67px;
   margin-left: 146px;
}

.box-game__line-9 {
   box-shadow: var(--box-sh);
   background: url('../img/bg3.jpeg') 0 0 / auto 100% repeat;
   margin-left: 35px;
   width: 350px;
   height: 80px;
   opacity: 0;
   visibility: hidden;
}

.box-game__line-conect-8:hover .box-game__line-9 {
   opacity: 1;
   visibility: visible;
}

.box-game__line-9 .box-game__line-items {
   overflow: hidden;
   background: none;
   height: 80px;
   width: 350px;
   margin-right: 0;
}

.box-game__line-9 .box-game__line-item:not(:last-child) {
   margin: 0 -20px 0 0;
}

.box-game__line-9 .box-game__line-item::after {
   height: 80px;
   width: 35px;
}



.box-game__line-9 .game-line-item-1::after {
   background: url('../img/1.png') 50% / 100% no-repeat;
}

.box-game__line-9 .game-line-item-2::after {
   background: url('../img/2.png') 50% / 100% no-repeat;
}

.box-game__line-9 .game-line-item-3::after {
   background: url('../img/3.png') 50% / 100% no-repeat;
}

/* ! === */

.box-game__line-conect-9 {
   height: 80px;
   width: 55px;
   margin-top: -80px;
   margin-left: 350px;
   box-shadow: var(--box-sh);
   background: url('../img/dor2.png') -13px 0 / auto 100% no-repeat;
   background-color: #3D4345;
}

.box-game__line-10 {
   box-shadow: var(--box-sh);
   height: 170px;
   width: 40px;
   margin-left: 55px;
   opacity: 0;
   visibility: hidden;
}

.box-game__line-conect-9:hover .box-game__line-10 {
   opacity: 1;
   visibility: visible;
}

.box-game__line-10 .box-game__line-items {
   background: url('../img/up2.jpg') 0 0 / 100% auto repeat;
   text-align-last: left;
   height: 170px;
   width: 40px;
   padding-right: 15px;
}

.box-game__line-10 .box-game__line-item {
   width: 43px;
   padding: 0;
}

.box-game__line-10 .box-game__line-item:not(:first-child) {
   margin-top: -30px;

}

.box-game__line-10 .box-game__line-item:after {
   width: 35px;
}

/* !=== */

.box-game__line-conect-10 {
   width: 35px;
   height: 80px;
   margin-top: -80px;
}

.box-game__line-conect-10:hover .box-game__line-11 {
   opacity: 1;
   visibility: visible;
   box-shadow: var(--box-sh);
}

.box-game__line-11 {
   width: 149px;
   height: 80px;
   margin-left: 73px;
   opacity: 0;
   visibility: hidden;
}

.box-game__line-conect-10::after {
   content: '';
   display: inline-block;
   width: 35px;
   height: 80px;
   margin-top: -80px;
   margin-left: 38px;
   background: url('../img/dor3.png') 0 0 / auto 100% repeat;
   background-color: #3D4345;
   border-bottom: 3px solid rgb(66, 66, 66);
   border-right: 2px solid rgb(66, 66, 66);
   box-shadow: var(--box-sh);
}

.box-game__line-11 .box-game__line-items {
   padding: 0;
   width: 149px;
   height: 80px;
   background: url('../img/1212.jpg') 0 0 / auto 100% repeat;
}

.box-game__line-11 .box-game__line-item:not(:first-child) {
   margin-top: 0;
}

.box-game__btn-end {
   display: inline-block;
   height: 80px;
   width: 80px;
   margin-top: -80px;
   margin-right: -80px;
   background-color: #1E212C;
   background: url('../img/end.png') 0 0 / auto 100% repeat;
   border: 3px solid rgb(66, 66, 66);
   box-shadow: var(--box-sh);
}